metrics_prefix: phobos_app

counters:
  - instrumentation: listener.process_message
  - instrumentation: listener.process_batch

histograms:
  - instrumentation: listener.process_message
    bucket_name: message
  - instrumentation: listener.process_batch
    bucket_name: batch

gauges:
  - label: number_of_handlers
    increment: listener.start_handler
    decrement: listener.stop_handler

buckets:
  - name: message
    bins:
      - 2
      - 4
      - 8
      - 16
      - 32
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
  - name: batch
    bins:
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
      - 4096
      - 8192
      - 16384
      - 32768
      - 65536
      - 131072
